
<h1>Ge Harris Wedding</h1>
<p>
  This is the home page for Kerry and Shan Shan's Wedding.
</p>

<p>
  Most of this site is restricted to members only. If you would like access
  please seek an invitation by clicking the Get Invited button below.
</p>

<%= link_to "Get Invited", '#', :class => "get_invited_button round" %>
